<div class="alert alert-danger" id="notificationAlert" style="display: none;">
</div>

<div class="form-group">
    <label for="objectId">Mã tài khoản:</label>
    <input type="text" class="form-control" id="objectId" required value="<%= car.objectId %>" readonly />
</div>

<div class="form-group">
    <label for="username">Tài khoản:</label>
    <input type="text" class="form-control" id="username" required value="<%= car.username %>" readonly />
</div>

<hr>

<div class="form-group">
    <label for="hoTen">Tên nhà xe:</label>
    <input type="text" class="form-control" id="hoTen" required placeholder="Nhập tên của nhà xe" value="<% if (car.hoTen) { %> <%= car.hoTen %> <% } %>" />
</div>

<div class="form-group">
    <label for="soDienThoai">Số điện thoại:</label>
    <input type="text" class="form-control" id="soDienThoai" required placeholder="Nhập số điện thoại của nhà xe" value="<% if (car.soDienThoai) { %> <%= car.soDienThoai %> <% } %>" />
</div>

<div class="form-group">
    <label for="diaChi">Trụ sở:</label>
    <input type="text" class="form-control" id="diaChi" placeholder="Nhập địa chỉ của nhà xe" value="<% if (car.diaChi) { %> <%= car.diaChi %> <% } %>" />
</div>


<hr>

<div class="form-group">
    <label for="diaChi">Mã doanh nghiệp:</label>
    <input type="text" class="form-control" id="maDoanhNghiep" placeholder="Nhập mã doanh nghiệp" value="<% if (car.maDoanhNghiep) { %> <%= car.maDoanhNghiep %> <% } %>" />
</div>

<div class="form-group">
    <label for="diaChi">Nơi cấp:</label>
    <input type="text" class="form-control" id="noiCapMaDoanhNghiep" placeholder="Nhập nơi cấp" value="<% if (car.noiCapMaDoanhNghiep) { %> <%= car.noiCapMaDoanhNghiep %> <% } %>" />
</div>

<div class="form-group">
    <label for="diaChi">Mã số thuế:</label>
    <input type="text" class="form-control" id="maSoThue" placeholder="Nhập mã số thuế" value="<% if (car.maSoThue) { %> <%= car.maSoThue %> <% } %>" />
</div>

<div class="form-group">
    <label for="diaChi">Số tài khoản:</label>
    <input type="text" class="form-control" id="soTaiKhoan" placeholder="Nhập số tài khoản" value="<% if (car.soTaiKhoan) { %> <%= car.soTaiKhoan %> <% } %>" />
</div>

<hr>

<div class="container">
    <div class="row">
        <h3>Chú ý</h3>
        <p>Khi đặt lại mật khẩu, mật khẩu mặc định là <b>123456</b></p>
    </div>
</div>